.common__section {
  background: linear-gradient(rgba(3, 227, 182, 0.9), rgba(3, 28, 171, 0.9)),
    url("../assets/all-images/drive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
