.payment label {
  font-weight: 600;
  color: rgb(1, 87, 111);
}

.payment button {
  padding: 8px 15px;
  border-radius: 5px;
  background: rgb(1, 87, 111);
  color: #fff;
  border: none;
  outline: none;
}
